<div id="<%= dom_id post %>">
  <h4 class="display-6 fs-4"><%= post.title %></h4>
  <h6>Posted by: <%= post.user.name %></h6>
  <h6><%= pluralize(post.views, " view") %></h6>
  <div>
    <%= post.body %>
  </div>
</div>
